html {
  margin: 0;
}

Nav {
  width: 100%;
  height: 100px;
  flex-direction: row;
  align-content: center;
  background-color: pink;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  flex: 3;
}